<div class="row justify-content-center">
    <div class="col">
        <img src="img/avatar.jpg" alt="" width="200" class="img-thumbnail rounded-circle">
        <h1>About This Page</h1>
        <p>Hello, my name is Fuad. I live in Kabupaten Tangerang</p>

    </div>
</div>