<h1>Home Page</h1>
<p>Welcome to my <%= website %>!</p>

<% mahasiswa.forEach(mhs => { %>
    <ul>
        <li>Nama : <%= mhs.nama %> </li>
        <li>Email : <%= mhs.email %> </li>
    </ul>
<% }) %>
    